@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#last {
    margin-top: 100px;
    /* To be able to scroll more */
}

body {
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 16px;
    /* Good mannerisms in coding */
    padding-top: 30px;
    font: normal 16px "Roboto", sans-serif;
    /* Shorthand for setting fonts */
}

.container {
    max-width: 600px;
    /* A little bit of compatibility (width can be less then 500px, but not more.*/

    margin: auto;
    /* Centering content */
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: red;
}

.avatar {
    width: 220px;
    border-radius: 5%;
    box-shadow: 5px -2px 15px 5px rgba(0, 0, 0, 0.25);
}


/* Adhering to guidelines set by (W3C), which recommend letter spacing of at least 0.12 times the font size, here 16px*/
p,
figcaption,
li,
th,
td,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1.8px;
}

/* Header design and settings */
.head_wrap p {
    color: #86898f;
    margin: 0;
    /* Reset default margin (it has some value at the start */
    text-decoration: none;
    /* You can play around values to change, for example under line */
    text-transform: none;
    /* You can use capitalize to change it if there is need */
}

.head_wrap {
    margin-bottom: 20px;
}

.head_wrap p {
    margin-bottom: 25px;
}

.head_wrap .socials img {
    width: 20px;
}

.head_wrap .socials {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Header design and settings */


/* .social{
    background: pink;
    padding: 15px 40px;
    border: 5px solid grey;
    margin: 20px;
} */

/* Standard classes creation */
.bg-yellow {
    background-color: #fff9dc;
}

.bg-green {
    background-color: #e5ffe7;
}

.bg-red {
    background-color: #ffe5e5;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

/* Standard classes creation */


/* Table design */
.table {
    background-color: #F5F7FD;
    border-collapse: collapse;
    border: 2px solid #D4DCF7;
    width: 100%;
}

th,
td {
    border: 1px solid #D4DCF7;
    text-align: left;
    padding: 7px;
}

/* Table design */


.hobby td {
    color: #86898f;
}

.hobby tr:nth-child(odd) {
    background-color: #dcdee3;
}

.exp th {
    border-bottom: 3.5px solid #dcdee3;
}